.button {
  background-color: black;
  color: white;
  height: 50px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}
